<!DOCTYPE html>
<html lang="en" ng-app="catalogApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Редактор каталога моей мечты!</title>
    <link href="~/css/vendor.css" rel="stylesheet" asp-append-version="true" type="text/css"/>
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" type="text/css"/>
    
</head>
<body>
    
    <div class="container">
    
        <div class="main-window well" ng-controller="catalogController">
            <div class="catalog-window">
                <script type="text/ng-template" id="category-tree">
                    <i class="glyphicon glyphicon-plus category-tree" id='category{{category.Id}}' ng-if="category.Childs" ng-click="toggleVisible(category, 'category'+category.Id)"></i>
                    <span ng-click="selectCategory(category, 'categoryName'+category.Id)" class="category-name" id="categoryName{{category.Id}}">{{ category.Name }}</span>
                    <ul ng-if="category.Childs" ng-show="category.visible">
                        <li ng-repeat="category in category.Childs" ng-include="'category-tree'">           
                        </li>
                    </ul>
                </script>
                <h3 class="text-center" ng-hide="categories.length"><i class="fa fa-spinner fa-spin"></i> Загрузка...</h3>
                <ul class="tree" ng-show="categories.length">
                    <li ng-repeat="category in categories" ng-include="'category-tree'"></li>
                </ul>
            </div>
            <div class="items-window" ng-show="itemsWindowVisible">
                <h3 class="text-center" ng-show="itemsLoaderVisible"><i class="fa fa-spinner fa-spin"></i> Загрузка...</h3>
                <div ng-hide="itemsLoaderVisible">
                    <div class="item-head">
                        <span class="header-icon"><i class="fa fa-plus-square fa-2x"></i></span>
                        <span class="header-icon"><i class="fa fa-trash fa-2x"></i></span>
                        <span class="header-icon"><i class="fa fa-window-close-o fa-2x pull-right" ng-click="hideItemsWindow()"></i></span>
                        <hr/>
                    </div>
                    <div>
                        <table class="table">
                            <tr>
                                <th></th><th>Name</th><th>Price</th><th>Qty</th>
                            </tr>
                            <tr ng-repeat="item in items">
                                <td><input type="checkbox"></td><td>{{item.Name}}</td><td>$ {{item.Price}}</td><td>{{item.Quantity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="detail-window">
                <div class="detail-head">
                    <span class="header-icon"><i class="fa fa-save fa-2x"></i></span>
                    <span class="header-icon"><i class="fa fa-times fa-2x"></i></span>
                    <span class="header-icon"><i class="fa fa-window-close-o fa-2x pull-right"></i></span>
                    <hr/>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Фото</label>
                            <div class="col-sm-8 col-sm-offset-2">
                                <img ng-src="/img/{{currentItem.Image}}" width="64">
                                <a href="#" ng-click="uploadImage()">Загрузить</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Название</label>
                            <div class="col-sm-8 pull-right">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="currentItem.Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Цена</label>
                            <div class="col-sm-8 pull-right">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="currentItem.Price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Количество</label>
                            <div class="col-sm-8 pull-right">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="currentItem.Qty">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>

    <script type="text/javascript" src="~/js/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/main.js" asp-append-version="true"></script>
</body>
</html>