<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script type="text/javascript" src="~/js/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/main.js" asp-append-version="true"></script>
</head>
<body>

</body>
</html>